@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide Scrollbar for IE, Edge and Firefox browser */

.scrollbar-hide {
    -ms-overflow-style: none;
    /*IE and Edge*/
    scrollbar-width: none;
    /*Firefox*/
}